body {
    background: #303030;
}

#messages {
    list-style-type: none;
    margin: 0;
    margin-top: 20px;
    min-height: 400px;
    background: #ffffff;

}

#messages li {
    padding: 5px 10px;
}

#messages li:nth-child(odd) {
    background: #dddddd;
        text-align: right;
}

#messages li:nth-child(even) {
    background: #a0a0a0;
    text-align: left;
}
